# Letsupgrade Day 6

# 1.Assuming that we have some email addresses in the         "username@companyname.com" format, please write programto print the company name of a given email address. Both user names and company names are composed of letters only.

In [ ]:
s = input("Enter email address:")
k = s.split('@')
p = k[1].split('.')
print(p[0])

# 2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [ ]:
list1 = ['jimmy','is','a','bad','dad']
print(sorted(list1))

# 3. Create your own Jupyter Notebook for Sets.

In [7]:
set1 = {1,2,3,4,5,6}
set2 =  {1,2,3}
print(set1|set2)
print(set1&set2)
set1.add(7)
print(set1)
print(len(set1))
set2.discard(4)
print(set2)
set1.pop()
print(set1)

{1, 2, 3, 4, 5, 6}
{1, 2, 3}
{1, 2, 3, 4, 5, 6, 7}
7
{1, 2, 3}
{2, 3, 4, 5, 6, 7}

# 4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [2]:
list1 = [1,3,2,4,5,6,8]
for i in range(1,9):
    if(i not in list1):
        print(i)

7

# 5.With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.

In [ ]:
l = [12,24,35,24,88,120,155,88,120,155]
list1 = []
for i in l:
    if i not in list1:
        list1.append(i)
print(list1)