In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df =  pd.read_csv(r'C:\Users\madhuri\Desktop\letsupgrade\Day24\general_data.csv')

In [4]:
df.head()
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 0 to 4408
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4382 non-null   int64
 1   Attrition                4382 non-null   object
 2   BusinessTravel           4382 non-null   object
 3   Department               4382 non-null   object
 4   DistanceFromHome         4382 non-null   int64
 5   Education                4382 non-null   int64
 6   EducationField           4382 non-null   object
 7   EmployeeCount            4382 non-null   int64
 8   EmployeeID               4382 non-null   int64
 9   Gender                   4382 non-null   object
 10  JobLevel                 4382 non-null   int64
 11  JobRole                  4382 non-null   object
 12  MaritalStatus            4382 non-null   object
 13  MonthlyIncome            4382 non-null   int64
 14  NumCompaniesWorked       4382 non-null   float64
 15  Over18                   4382 non-null   object
 16  PercentSalaryHike        4382 non-null   int64
 17  StandardHours            4382 non-null   int64
 18  StockOptionLevel         4382 non-null   int64
 19  TotalWorkingYears        4382 non-null   float64
 20  TrainingTimesLastYear    4382 non-null   int64
 21  YearsAtCompany           4382 non-null   int64
 22  YearsSinceLastPromotion  4382 non-null   int64
 23  YearsWithCurrManager     4382 non-null   int64
dtypes: float64(2), int64(14), object(8)
memory usage: 855.9+ KB

In [5]:
df = df.drop(['EmployeeID','EmployeeCount','Over18'],axis = 1)
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
objList = df.select_dtypes(include = "object").columns
for feat in objList:
    df[feat] = lb.fit_transform(df[feat].astype(str))

In [6]:
y = df['Attrition']
x = df.drop(['Attrition'],axis = 1)
print(x)
print(y)

      Age  BusinessTravel  Department  DistanceFromHome  Education  \
0      51               2           2                 6          2
1      31               1           1                10          1
2      32               1           1                17          4
3      38               0           1                 2          5
4      32               2           1                10          1
...   ...             ...         ...               ...        ...
4404   29               2           2                 4          3
4405   42               2           1                 5          4
4406   29               2           1                 2          4
4407   25               2           1                25          2
4408   42               2           2                18          2

      EducationField  Gender  JobLevel  JobRole  MaritalStatus  MonthlyIncome  \
0                  1       0         1        0              1         131160
1                  1       0         1        6              2          41890
2                  4       1         4        7              1         193280
3                  1       1         3        1              1          83210
4                  3       1         1        7              2          23420
...              ...     ...       ...      ...            ...            ...
4404               4       0         2        1              2          35390
4405               3       0         1        6              2          60290
4406               3       1         1        2              0          26790
4407               1       1         2        7              1          37020
4408               3       1         1        2              0          23980

      NumCompaniesWorked  PercentSalaryHike  StandardHours  StockOptionLevel  \
0                    1.0                 11              8                 0
1                    0.0                 23              8                 1
2                    1.0                 15              8                 3
3                    3.0                 11              8                 3
4                    4.0                 12              8                 2
...                  ...                ...            ...               ...
4404                 1.0                 18              8                 0
4405                 3.0                 17              8                 1
4406                 2.0                 15              8                 0
4407                 0.0                 20              8                 0
4408                 0.0                 14              8                 1

      TotalWorkingYears  TrainingTimesLastYear  YearsAtCompany  \
0                   1.0                      6               1
1                   6.0                      3               5
2                   5.0                      2               5
3                  13.0                      5               8
4                   9.0                      2               6
...                 ...                    ...             ...
4404                6.0                      2               6
4405               10.0                      5               3
4406               10.0                      2               3
4407                5.0                      4               4
4408               10.0                      2               9

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     0
1                           1                     4
2                           0                     3
3                           7                     5
4                           0                     4
...                       ...                   ...
4404                        1                     5
4405                        0                     2
4406                        0                     2
4407                        1                     2
4408                        7                     8

[4382 rows x 20 columns]
0       0
1       1
2       0
3       0
4       0
       ..
4404    0
4405    0
4406    0
4407    0
4408    0
Name: Attrition, Length: 4382, dtype: int32

In [7]:
#from sklearn.model_selection import train_test_split

In [8]:
#x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state = 0)

In [17]:
import statsmodels.api as sm
x1 = sm.add_constant(x)
log_attrition = sm.Logit(y,x)
result = log_attrition.fit()
result.summary()

Optimization terminated successfully.
         Current function value: 0.392916
         Iterations 7

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4362
Method:                           MLE   Df Model:                           19
Date:                Wed, 12 Aug 2020   Pseudo R-squ.:                  0.1093
Time:                        13:42:42   Log-Likelihood:                -1721.8
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 8.681e-78
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Age                        -0.0307      0.007     -4.478      0.000      -0.044      -0.017
BusinessTravel             -0.0137      0.066     -0.209      0.834      -0.143       0.115
Department                 -0.2229      0.082     -2.735      0.006      -0.383      -0.063
DistanceFromHome           -0.0012      0.005     -0.231      0.818      -0.012       0.009
Education                  -0.0664      0.043     -1.555      0.120      -0.150       0.017
EducationField             -0.0954      0.034     -2.849      0.004      -0.161      -0.030
Gender                      0.0855      0.090      0.952      0.341      -0.091       0.262
JobLevel                   -0.0285      0.040     -0.716      0.474      -0.107       0.050
JobRole                     0.0400      0.018      2.226      0.026       0.005       0.075
MaritalStatus               0.5835      0.063      9.212      0.000       0.459       0.708
MonthlyIncome           -1.815e-06   9.57e-07     -1.897      0.058   -3.69e-06    6.01e-08
NumCompaniesWorked          0.1174      0.018      6.390      0.000       0.081       0.153
PercentSalaryHike           0.0126      0.012      1.067      0.286      -0.011       0.036
StandardHours               0.0034      0.052      0.065      0.948      -0.098       0.105
StockOptionLevel           -0.0675      0.052     -1.302      0.193      -0.169       0.034
TotalWorkingYears          -0.0584      0.012     -4.873      0.000      -0.082      -0.035
TrainingTimesLastYear      -0.1443      0.035     -4.097      0.000      -0.213      -0.075
YearsAtCompany              0.0132      0.018      0.718      0.473      -0.023       0.049
YearsSinceLastPromotion     0.1328      0.020      6.479      0.000       0.093       0.173
YearsWithCurrManager       -0.1394      0.022     -6.288      0.000      -0.183      -0.096
===========================================================================================
"""

In [15]:
#montly income #total working years  have major affect on attrition